backend:
  name: git-gateway
  branch: master

media_folder: static/img
public_folder: /img

media_library:
  name: cloudinary
  config:
    cloud_name: olive-baptist-church
    api_key: 238175576452882

collections:
  - name: 'baptisms'
    label: 'Baptisms'
    folder: 'content/baptisms'
    create: true
    slug: 'index'
    media_folder: ''
    public_folder: ''
    path: '{{name}}/index'
    editor:
      preview: false
    fields:
      - { label: 'Name', name: 'name', widget: 'string' }
      - { label: 'Baptism Date', name: 'date', widget: 'datetime' }
      - { label: 'Video', name: 'video', widget: 'file' }